exclude *.logs
exclude atsb
prune build
prune dist
graft lib
graft test
graft extras
graft docs
prune docs/build
graft examples
graft machines
graft LC  # machine files and other utilities for LLNL machines
include setup.py
include README
include LICENSE-COPYRIGHT.txt
include clean



